
<h1>Recapitulation des chapitres</h1>


<p>Liste des scenes utilisees dans le chapitre et les personnes correspondantes : </p>

<% Chapitre.all.each do |chapitre| %>  
 
 <% chapitre.scenes.all.each do |c| %>
 	<%if c.chapitre_id!=[] %>
 <small>
 <p> TITRE: <%= link_to chapitre.titre, chapitre %></p>

 <p> periode de la scene </p>
  <h2><%= link_to c.periode , c %> </h2>

  <p> nom des personnes </p>
   <% c.personnes.all.each do |p| %>
  <%if p.id!=[] %>
  	<h2><%= link_to p.nom , p %></h2>
 </small>
  <%end%>
  <%end%>
  <%end%>
  <%end%>
<%end%>